<div class="main-page" style="margin-top: 100px; text-align: center;">
  <app-navbar></app-navbar>
  <h1>
    Welcome to myFlix!
  </h1>
  <button mat-raised-button (click)="openUserRegistrationDialog()" style="margin-right: 10px;" color="primary">
    Sign Up
  </button>
  <button mat-raised-button (click)="openUserLoginDialog()" color="accent">
    Login
  </button>
  <!-- <button mat-raised-button color="warn" (click)="openMoviesDialog()" style="margin-left: 10px;">All Movies</button> -->
</div>