// color palette
/* 
  primary-color: #111215;
  seconady-color: #f0f2d5; 
  third-color: #564c43; //not used
  fourth-color: #e74637; 
*/

* {box-sizing: border-box;}

.navbar {
  position:fixed;
  top:0;
  z-index: 999;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #111215;
  height: 100px;
  padding-left: 5%;

}

.nav-item {
  margin-right: 5px;
  margin-top: 35px;
  margin-left: 5px;
}